body {
	background: #f2f2f2;
	padding-top: 70px;
	padding-bottom: 70px;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #FEFEFE;
	border-top: 1px solid #CCC;
	height: 60px;
}

footer .pagination {
	margin: 10px 0px;
}

footer .btn-group {
	margin: 10px 10px;
}

input[type='checkbox'] {
	margin: 0px;
	padding: 0px;
	border-radius: 5px;
	white-space: nowrap;
}

#custom-p {
	color: #888888;
}

#container-title {
	display: flex;
	align-items: center;
}

#container-title span {
	color: #ffb53f;
	font-size: 20px;
	margin-left: 50px;
	margin-top: 10px;
}

#container-id {
	font-size: 20px;
}

#introducedDate {
	margin-bottom: 5px;
}

#discontinuedDate {
	margin-bottom: 5px;
}

#actions {
	display: flex;
	justify-content: space-between;
}

#secondDiv {
	margin-top: 6px;
}

.hiddenElement {
	visibility: collapse;
}

th a {
	text-decoration: none;
	color: black;
	transition: 0.3s;
}

th a:hover {
	text-decoration: none;
	color: #dd1c1c;
}

.flag-icon {
	background-size: contain;
	background-position: 50%;
	background-repeat: no-repeat;
	position: relative;
	display: inline-block;
	width: 1.33333333em;
	line-height: 1em;
}

#container-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	width: 89%;
}

header img {
	height: 18px;
}

header span #log-link {
	margin-right: 50px;
	text-decoration: none;
}

header span .flag {
	margin-right: 5px;
}

header span .flag :hover {
	filter: grayscale(50%);
}


header span #glyph-user{
	color: white;
	margin-right: 20px;
/* 	vertical-align: sub; */
}

.container-login-main {
	padding-right: 500px;
	padding-left: 500px;
	margin-right: auto;
	margin-left: auto;
}

